<div id="logUp">
    <div class="col-10" id="logIn">
        <h1 class="text-center">Log In</h1>
        <form method="post" ng-submit="vm.sendRequest()">
            <label for="emailLog" class="">Email:</label>
            <input class="rounded" ng-model="vm.data.email" type="email" name="email" id="emailLog" required/>
            <div class="clr"></div>
            <label for="passwordLog">Password:</label>
            <input class="rounded" ng-model="vm.data.password" type="password" name="password" id="passwordLog" required/>
            <div class="clr"></div>
            <input class="rounded" type="submit" value="SUBMIT"/>
            <div class="clr"></div>
        </form>
        <div class="error" ng-show="vm.errors.length > 0">
            <span ng-repeat="error in vm.errors">{{ error }}</span>
        </div>
        <div class="sign">Not Signed Up? <a href="#user/sign-up">Create an Account</a></div>
    </div>
    <div class="clr"></div>
</div>