//fonts
$GothamProRegular      : 'GothamProRegular', sans-serif;
$GothamProBold         : 'GothamProBold', sans-serif;
$GothamProBlack        : 'GothamProBlack', sans-serif;
$GothamProItalic       : 'GothamProItalic', sans-serif;
$GothamProMedium       : 'GothamProMedium', sans-serif;
$GothamProLight        : 'GothamProLight', sans-serif;
$GothamProMediumItalic : 'GothamProMediumItalic', sans-serif;
$GothamProLightItalic  : 'GothamProLightItalic', sans-serif;
$GothamProBoldItalic   : 'GothamProBoldItalic', sans-serif;
$GothamProBlackItalic  : 'GothamProBlackItalic', sans-serif;

//colors
$white      : #ffffff;
$grey       : #999999;
$darkGrey   : #333333;
$lightGrey  : #f0f0f0;
$mediumGrey : #656565;
$whiteGrey  : #e6e6e6;
$navGrey    : #cccccc;
$vanilla    : #f9f9f9;
$skyBlue    : #0a85d7;
$darkerBlue : #0a72cc;
$green      : #0ad7a0;
$brightGreen: #25c018;
$red        : #d43f3a;
$crimson    : #cc324b;
$black      : #000000;
$coffee     : #c2b57c;
$yellow     : #f3a90a;

//images path
$imgPath    : "../../img/";
