//fonts
$GothamProRegular      : 'GothamProRegular', sans-serif;
$GothamProBold         : 'GothamProBold', sans-serif;
$GothamProBlack        : 'GothamProBlack', sans-serif;
$GothamProItalic       : 'GothamProItalic', sans-serif;
$GothamProMedium       : 'GothamProMedium', sans-serif;
$GothamProLight        : 'GothamProLight', sans-serif;
$GothamProMediumItalic : 'GothamProMediumItalic', sans-serif;
$GothamProLightItalic  : 'GothamProLightItalic', sans-serif;
$GothamProBoldItalic   : 'GothamProBoldItalic', sans-serif;
$GothamProBlackItalic  : 'GothamProBlackItalic', sans-serif;
