<form method="post" ng-submit="sendRequest()">
    <div class="col-3 no-padding-left">
        <label for="claimTitle" class="">Claim Title:</label>
        <input class="rounded" ng-model="claim.claimTitle" type="text"
               name="claimTitle" id="claimTitle" required/>
    </div>
    <div class="col-2" ng-if="tags.length > 0">
        <label for="claimTag">Select a Tag:</label>
        <select class="full-select" name="claimTag" id="claimTag"
                ng-model="claim.claimTag" ng-options="tag for tag in tags"></select>
    </div>
    <div class="col-1">
        <label>&nbsp</label>
        <input class="rounded add-claim-button" type="submit" value="ADD"/>
    </div>
    <div class="col-2">
        <label>&nbsp</label>
        <label class="anonymous-label">
            <input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="claim.anonymous"
                   class="checkbox claimbox anonymous-checkbox"> Add anonymously</label>
    </div>
    <div class="clr"></div>
</form>