<div class="modal text-center">
    <div class="modal-backdrop" ng-click="close()"></div>
    <div class="modal-content rounded">
        <div class="modal-header">
            <h3 class="modal-title">Review and Comment:</h3>
        </div>
        <div class="modal-body">
            <table cellspacing="0" class="comment-table">
                <thead>
                <tr>
                    <th>Title:</th>
                    <th ng-if="showTag">Tag:</th>
                    <th>Author:</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td width="70%">{{ c.claimTitle }}</td>
                    <td ng-if="showTag" width="18%">{{ c.claimTag }}</td>
                    <td width="12%">
                        <span ng-if="!c.anonymous">{{ c.fullName }}</span>
                        <span ng-if="c.anonymous">Anonymous</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <label for="cComment" class="add-comment-title">Add a Comment:</label>
            <input id="cComment" ng-model="c.claimComment" type="text"/>
        </div>
        <div class="modal-footer">
            <button class="close-btn-primary" ng-if="modalAction === 'accepted'" type="button" ng-click="close(modalAction)">Accept Claim</button>
            <button class="close-btn-primary btn-decline" ng-if="modalAction === 'declined'" type="button" ng-click="close(modalAction)">Decline Claim</button>
            <button class="close-btn-primary btn-warning" type="button" ng-click="close()">Cancel</button>
        </div>
    </div>
</div>