*
{
    font-family: GothamProRegular, sans-serif;
    font-size: 14px;

    box-sizing: border-box;
}
html
{
    min-width: 1200px;
    height: 100%;
    margin: 0;
    padding: 0;
}
body
{
    position: relative;

    min-width: 1200px;
    height: 100%;
    margin: 0;
    padding: 0;

    color: #262626;
    background: #f0f0f0;
}
h1
{
    font-size: 28px;
}
input[type='text'],
input[type='password'],
input[type='email'],
textarea,
select
{
    font-size: 14px;
    line-height: 14px;

    padding: 5px 10px;

    color: #656565;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    background: #f9f9f9;
}
input[type='text']:active,
input[type='password']:active,
input[type='email']:active,
textarea:active,
select:active,
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
textarea:focus,
select:focus
{
    color: #262626;
    border: 1px solid #0a85d7;
}
input[type='submit']
{
    font-size: 14px;
    line-height: 14px;

    padding: 10px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border: 1px solid #0a72cc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    background: #0a85d7;
}
input[type='submit']:active
{
    background: #0a72cc;
}
input[type='submit']:disabled
{
    background: #f0f0f0;
    cursor: default;
    border: 1px solid #fff;
}
input[type='checkbox']
{
    display: inline-block;

    width: 20px!important;
    height: 25px;
    margin: 0;
    margin-bottom: 0!important;
    padding: 0;

    text-align: center;
}
select
{
    width: 200px;

    background-image: url(../img/selectBg.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 3%;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select:hover
{
    cursor: pointer;
}

select.full-select
{
    width: 100%;
}
.cp
{
    cursor: pointer;
}
.line
{
    width: 100%;
    height: 1px;
    margin: 20px 0;

    background: #999;
}
.col-10
{
    width: 100%;
    padding: 0 10px;
}
.col-9
{
    float: left;

    width: 90%;
    padding: 0 10px;
}
.col-8
{
    float: left;

    width: 80%;
    padding: 0 10px;
}
.col-7
{
    float: left;

    width: 70%;
    padding: 0 10px;
}
.col-6
{
    float: left;

    width: 60%;
    padding: 0 10px;
}
.col-5
{
    float: left;

    width: 50%;
    padding: 0 10px;
}
.col-4
{
    float: left;

    width: 40%;
    padding: 0 10px;
}
.col-3
{
    float: left;

    width: 30%;
    padding: 0 10px;
}
.col-2
{
    float: left;

    width: 20%;
    padding: 0 10px;
}
.col-1
{
    float: left;

    width: 10%;
    padding: 0 10px;
}
.col-offset-1
{
    margin-left: 10%;
}
.col-offset-2
{
    margin-left: 20%;
}
.clr
{
    clear: both;
}
a,
a:hover,
a:visited
{
    text-decoration: none;

    color: #0a85d7;
}
a:hover
{
    text-decoration: underline;
}
.rounded
{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.wrapper
{
    width: 100%;
    min-width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.text-center
{
    text-align: center;
}
.text-left
{
    text-align: left;
}
.text-right
{
    text-align: right;
}
.hidden
{
    display: none;
}
.no-padding-left
{
    padding-left: 0;
}
.no-padding-right
{
    padding-right: 0;
}
.no-padding-bottom
{
    padding-bottom: 0!important;
}
.no-margin
{
    margin: 0!important;
}
.green-bg
{
    background: #0ad7a0;
}
.red-bg
{
    background: #d43f3a;
}
.grey-bg
{
    background: #999;
}
.left-bordered
{
    border-left: 1px solid #e3e3e3;
}
.error
{
    margin: 10px 0 0 0;

    color: #cc324b;
    border-top: 1px solid #fff;
}
.error span
{
    display: block;

    padding-bottom: 10px;
}
.error span:last-child
{
    padding-bottom: 0;
}

/*navigation styles*/
#nav
{
    position: relative;
    z-index: 300;

    height: 60px;
    padding: 0 0 0 40px;

    background: #2e2e2e;
}
#nav .col-2,
#nav .col-1,
#nav .col-9
{
    height: 100%;
}
#nav .col-9 .col-2,
#nav .col-9 .col-1
{
    padding-right: 0;
    padding-left: 0;
}
#nav .col-9
{
    padding: 0;
}
.main-head
{
    position: relative;

    margin-bottom: 10px;

    text-align: left;

    border-bottom: 1px solid #e5e5e5;
}
.main-head .tooltip-sign
{
    position: relative;
    top: -20px;

    display: inline-block;

    width: 16px;
    height: 16px;

    cursor: pointer;

    background: url(../img/help.png);
}
.main-head .tooltip-content
{
    line-height: 14px;

    position: relative;
    top: -24px;
    left: 0;

    display: none;

    width: auto;
    padding: 3px;

    text-align: left;

    border: 1px solid #808080;
    background: rgb(243, 249, 253);
}
.main-head .tooltip-sign:hover + .tooltip-content
{
    display: inline-block;
}
#nav #img-logo
{
    padding-top: 12px;
    padding-bottom: 12px;

    text-align: left;
}
#nav .nav-a
{
    display: inline-block;

    width: 100%;
    height: 100%;
    padding-top: 24px;

    text-decoration: none;

    color: #ccc;
}
#nav .nav-a:hover
{
    cursor: pointer;
    text-decoration: none;

    color: #fff;
    background: #333;
}
#nav .nav-a.active-nav
{
    color: #fff;
    background: #0a85d7;
}
#nav .nav-a.logout
{
    font-size: 12px;
    line-height: 16px;

    width: 100%;
    padding: 24px 20px 0;

    text-align: center;

    color: #fff;
    background: #cc324b;
}
#nav .nav-a.logout:hover
{
    text-decoration: none;
}
#nav ul.user-ul
{
    overflow: hidden;

    height: 0;
    margin: 0;
    padding: 0;

    -webkit-transition: height .2s ease-out;
    -moz-transition: height .2s ease-out;
    -o-transition: height .2s ease-out;
    transition: height .2s ease-out;
}
#nav .nav-a.logout:hover + ul.user-ul,
#nav ul.user-ul:hover
{
    display: block;

    height: auto;
}
#nav ul.user-ul li
{
    line-height: 14px;

    list-style: none;

    text-align: left;

    background: #2e2e2e;
}
#nav ul.user-ul li a.nav-a
{
    font-size: 12px;

    padding: 10px 20px;
}
#nav ul.user-ul li:hover
{
    background: #333;
}

/*main view container*/
#mainView
{
    position: relative;

    height: 100%;
}

/*login/signup styles*/
#logUp
{
    position: relative;

    width: 450px;
    margin: 250px auto 0;
    padding: 20px;

    border: 1px solid #e5e5e5;
    background: #fff;
}
#logUp .border-top
{
    border-top: 2px solid #323333;
}
#logUp .hidden,
#sigSuc.hidden,
#logUp.hidden
{
    overflow: hidden;

    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}
#logUp .sign
{
    font-size: 12px;

    margin-top: 10px;
    padding: 10px 0 0 0;

    border-top: 1px solid #e5e5e5;
}
#logUp .col-5
{
    height: 100%;
    padding: 0 20px 0 0;
}
#logUp .col-5:nth-child(2)
{
    padding: 0 0 0 20px;
}
#logUp h1
{
    margin-top: 0;
}
#logUp label
{
    display: block;

    margin-bottom: 5px;
    padding: 0;
}
#logUp input
{
    float: right;

    width: 100%;
    margin-bottom: 10px;
}
#logUp input[type='submit']
{
    margin-bottom: 0;
}

/*signup sucess styles*/
#sigSuc
{
    position: relative;

    width: 400px;
    margin: 250px auto 0;
    padding: 20px;

    background: #fff;
}
#sigSuc h1
{
    margin: 0 0 10px;
}
#sigSuc a
{
    display: inline-block;
    float: none;
}

/*claim styles*/
#claim
{
    margin: 20px 40px;
    padding: 20px;

    border: 1px solid #e5e5e5;
    background: #fff;
}
#claim h1
{
    display: inline-block;
}
#claim form
{
    text-align: left;
}
#claim input,
#claim textarea
{
    width: 100%;
    margin-bottom: 10px;
}
#claim input[type='submit']
{
    margin-bottom: 0;
}
#claim textarea
{
    max-width: 100%;
    min-height: 100px;

    resize: vertical;
}
#claim label
{
    display: block;

    margin: 0 0 5px;
}
#claim input[type='submit']
{
    padding: 5px 10px;
}
#claim td.commentTd
{
    padding: 0;

    border: none;
    border-right: 1px solid #2e2e2e;
}

#claim td.commentTd th,
#claim td.commentTd td
{
    border-right: none;
}

#claim .tagFilter
{
    font-size: 14px;
    line-height: 14px;

    display: inline-block;

    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    background: #0a85d7;
}
#claim .tagFilter.active
{
    background: #25c018!important;
}
#claim table
{
    line-height: 14px;

    border-collapse: collapse;
}

#claim table td,
#claim table th
{
    padding: 5px 10px;

    border: 1px solid #2e2e2e;
}
#claim table thead
{
    color: #fff;
    background: #2e2e2e;
}
/*claims modal window */
body.modal-open
{
    width: 100%;
    height: 100%;
}
.modal-backdrop
{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: .3;
    background: #000;
}
#modal .modal-content
{
    position: absolute;
    top: 0;
    left: 50%;

    width: 600px;
    margin: 200px 0 0 -300px;
    padding: 20px;

    color: #000;
    background: #fff;
}
#modal .modal-content.spinning
{
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 0;

    width: 100%;
    margin: 0;
    margin-top: -64px;
    padding: 0;

    background: none;
}
.modal-backdrop.spinning
{
    z-index: 401;
}
h3.modal-title
{
    font-size: 20px;
    line-height: 20px;
}
.comment-table
{
    margin-bottom: 10px;
}
.add-comment-title
{
    font-size: 16px;
    line-height: 16px;
}
.close-btn-primary
{
    font-size: 14px;
    line-height: 14px;

    padding: 10px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border: 1px solid #0a72cc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    background: #0a85d7;
}
.close-btn-primary.btn-warning
{
    border: none;
    background: #cc324b;
}
.close-btn-primary.btn-decline
{
    border: none;
    background: #c2b57c;
}
#acceptClaimModal,
#declineClaimModal
{
    display: inline-block;

    width: 20px;
    height: 20px;

    cursor: pointer;
    vertical-align: middle;
}
#acceptClaimModal
{
    background: url(../img/accept_ico.png);
}
#declineClaimModal
{
    background: url(../img/cancel_ico.png);
}
.claim-comments-container
{
    background: #f3f9fd;
}
.claim-comments-container.smaller
{
    border: 1px solid #808080;
    border-top: none;
}
.claim-comments-wrapper
{
    margin: 20px 0 40px;
    padding: 10px;

    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;

    border: 1px solid #e6e6e6;
    background: rgba(243,249,253,1);
}
.claim-comments-wrapper:last-child
{
    margin: 20px 0 0;
}

.claim-comments-wrapper.smaller
{
    font-size: 14px;
    line-height: 14px;

    margin: 0;
    padding: 5px;

    border: none;
    border-top: 1px solid #808080;
}
.claim-comments-wrapper.smaller.last
{
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;

    background: rgba(243,249,253,1);
}
.claim-comments-wrapper.smaller.last.last-added
{
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;

    background: rgba(37,192,24,.2);
}
.claim-title
{
    font-family: GothamProBold;
    font-size: 20px;
    line-height: 20px;

    padding-bottom: 5px;

    border-bottom: 1px solid #e6e6e6;
}
.claim-receivers {
    float: right;
    color: #cc324b;
}
.claim-title.smaller
{
    font-family: GothamProRegular, sans-serif;
    font-size: 14px;
    line-height: 14px;

    padding-top: 5px;
    padding-bottom: 0;

    border-bottom: none;
}
.claim-note
{
    padding: 10px 0;

    border-bottom: 1px solid #e6e6e6;
}
.claim-comments-list
{
    padding-left: 100px;
}
.claim-comments-heading
{
    font-family: GothamProBold;
    font-size: 14px;
    line-height: 14px;

    padding: 10px 0 8px;

    border-bottom: 1px solid #e6e6e6;
}
.claim-comment-author
{
    font-size: 12px;
    line-height: 12px;

    display: inline-block;

    padding: 10px 0 2px;

    color: #0a72cc;
}
.claim-author
{
    font-family: GothamProItalic;
    font-size: 12px;
    line-height: 12px;

    color: #0a72cc;
}
.claim-comment-content
{
    padding: 10px 0;

    border-bottom: 1px solid #e6e6e6;
}
.claim-add-comment
{
    margin: 20px 0 0;
    padding-left: 100px;
}
.claim-comment-input
{
    margin-bottom: 7px!important;
}
.claim-add-new-comment-button,
.claim-resolve
{
    float: right;

    width: 200px!important;
    margin-bottom: 10px!important;
}
.claim-add-new-comment-button.smaller
{
    margin-top: 10px;
    margin-bottom: 0!important;
}
.claim-resolve
{
    margin-bottom: 0!important;

    border: none!important;
    background: #25c018!important;
}
.claim-resolve.claim-accept
{
    width: 120px!important;
}
.claim-resolve.claim-decline
{
    width: 120px!important;
    margin-left: 10px!important;

    background: #f2654d!important;
}
.claim-tag
{
    font-size: 12px;
    line-height: 12px;

    margin-bottom: 10px;
    padding: 5px;

    text-align: center;

    color: #fff;
    background: #f3a90a;
}
.claim-author
{
    margin-bottom: 10px;
}
.top-div
{
    padding-bottom: 5px;

    border-bottom: 1px solid #eee;
}
.top-div .claim-author
{
    line-height: 20px;
}
.top-div .claim-tag,
.top-div .claim-author,
.top-div .claim-add-comment
{
    display: inline-block;

    margin-bottom: 0;
}
.top-div .claim-add-comment
{
    position: relative;

    float: right;

    margin-top: 0;
    padding-left: 0;
}
.top-div .claim-add-comment.smaller .claim-status
{
    display: inline-block;
}
.top-div .claim-checkbox
{
    display: inline-block;

    margin-top: 4px;
    padding-left: 5px;

    border-left: 1px solid #e6e6e6;
}
.top-div .claim-checkbox input[type='checkbox']
{
    height: auto!important;
}
.top-div .claim-checkbox input[type='checkbox'][disabled='disabled']
{
    background: #333;
}
.claim-status
{
    display: inline-block;

    margin-top: 4px;
    margin-bottom: 3px;
    padding: 0 5px 0 7px;

    border-left: 1px solid #e6e6e6;
}
.claim-info
{
    display: inline-block;

    width: 13px;
    margin-top: 4px;
    margin-right: 4px;

    cursor: pointer;

    background: url(../img/information-icon.png) center center no-repeat;
}
.comment-tooltip
{
    position: absolute;
    right: -5px;
    bottom: 26px;

    display: none;

    width: 300px;
    padding: 5px;

    border: 1px solid #eee;
    background: #fff;
}
.author-in
{
    font-size: 12px;
    line-height: 20px;

    display: inline-block;
}
