* {
    box-sizing: border-box;
    font-family: GothamProRegular, sans-serif;
    font-size: 14px;
}
html {
    margin: 0;
    padding: 0;
    min-width: 1200px;
    height: 100%;
}
body {
    background: #f0f0f0;
    color: #262626;
    margin: 0;
    padding: 0;
    min-width: 1200px;
    height: 100%;
    position: relative;
}
h1 {
    font-size: 28px;
}
input[type='text'],
input[type='password'],
input[type='email'],
textarea, select {
    background: #f9f9f9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    color: #656565;
    outline: none;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 14px;

}
input[type='text']:active,
input[type='password']:active,
input[type='email']:active,
textarea:active,
select:active,
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
textarea:focus,
select:focus{
    border: 1px solid #0a85d7;
    color: #262626;
}
input[type='submit'] {
    color: #fff;
    background: #0a85d7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #0a72cc;
    text-align: center;
    padding: 10px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
}
input[type='submit']:active {
    background: #0a72cc;
}
input[type="checkbox"]{
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    width: 20px!important;
    margin-bottom: 0!important;
    height: 25px;
}
select {
    width: 200px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../img/selectBg.png);
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 4%;
}
select:hover {
    cursor: pointer;
}
select:active {
}
select.full-select {
    width: 100%;
}
.cp {
    cursor: pointer;
}
.line {
    width: 100%;
    margin: 20px 0;
    background: #999999;
    height: 1px;
}
.col-10 {
    width: 100%;
    padding: 0 10px;
}
.col-9 {
    width: 90%;
    float: left;
    padding: 0 10px;
}
.col-8 {
    width: 80%;
    float: left;
    padding: 0 10px;
}
.col-7 {
    width: 70%;
    float: left;
    padding: 0 10px;
}
.col-6 {
    width: 60%;
    float: left;
    padding: 0 10px;
}
.col-5 {
    width: 50%;
    float: left;
    padding: 0 10px;
}
.col-4 {
    width: 40%;
    float: left;
    padding: 0 10px;
}
.col-3 {
    width: 30%;
    float: left;
    padding: 0 10px;
}
.col-2 {
    width: 20%;
    float: left;
    padding: 0 10px;
}
.col-1 {
    width: 10%;
    float: left;
    padding: 0 10px;
}
.col-offset-1 {
    margin-left: 10%;
}
.col-offset-2 {
    margin-left: 20%;
}
.clr {
    clear: both;
}
a, a:hover, a:visited {
    color: #0a85d7;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.rounded {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    min-width: 1200px;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.hidden {
    display: none;
}
.no-padding-left {
    padding-left: 0;
}
.no-padding-right {
    padding-right: 0;
}
.no-padding-bottom {
    padding-bottom: 0!important;
}
.no-margin {
    margin: 0!important;
}
.green-bg {
    background: #0ad7a0;
}
.red-bg {
    background: #d43f3a;
}
.grey-bg {
    background: #999999;
}
.left-bordered {
    border-left: 1px solid #e3e3e3;
}
.error {
    color: #cc324b;
    margin: 10px 0 0 0;
    border-top: 1px solid #fff;
}
.error span {
    display: block;
    padding-bottom: 10px;
}
.error span:last-child{
    padding-bottom: 0;
}

/*navigation styles*/
#nav {
    background: #2e2e2e;
    height: 60px;
    padding: 0 0 0 40px;
    position: relative;
    z-index: 300;
}
#nav .col-2, #nav .col-1, #nav .col-9 {
    height: 100%;
}
#nav .col-9 .col-2,
#nav .col-9 .col-1{
    padding-left: 0;
    padding-right: 0;
}
#nav .col-9 {
    padding: 0;
}
.main-head {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    text-align: left;
    margin-bottom: 10px;
}
.main-head .tooltip-sign {
    background: url(../img/help.png);
    position: relative;
    top: -20px;
    height: 16px;
    width: 16px;
    cursor: pointer;
    display: inline-block;
}
.main-head .tooltip-content {
    background: rgb(243, 249, 253);
    position: relative;
    left: 0;
    top: -24px;
    line-height: 14px;
    width: auto;
    text-align: left;
    padding: 3px;
    display: none;
    border: 1px solid #808080
}
.main-head .tooltip-sign:hover+.tooltip-content {
    display: inline-block;
}
#nav #img-logo {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}
#nav .nav-a {
    color: #ccc;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding-top: 24px;
}
#nav .nav-a:hover {
    color: #fff;
    background: #333333;
    text-decoration: none;
    cursor: pointer;
}
#nav .nav-a.active-nav {
    background: #0a85d7;
    color: #fff;
}
#nav .nav-a.logout {
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    width: 100%;
    background: #cc324b;
    padding: 24px 20px 0;
}
#nav .nav-a.logout:hover {
    text-decoration: none;
}
#nav ul.user-ul {
    overflow: hidden;
    height: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: height 0.2s ease-out;
    -moz-transition: height 0.2s ease-out;
    -o-transition: height 0.2s ease-out;
    transition: height 0.2s ease-out;
}
#nav .nav-a.logout:hover + ul.user-ul,
#nav ul.user-ul:hover{
    display: block;
    height: auto;
}
#nav ul.user-ul li {
    line-height: 14px;
    list-style: none;
    background: #2e2e2e;
    text-align: left;
}
#nav ul.user-ul li a.nav-a {
    padding: 10px 20px;
    font-size: 12px;
}
#nav ul.user-ul li:hover {
    background: #333333;
}


/*main view container*/
#mainView {
    position: relative;
    height: 100%;
}

/*login/signup styles*/
#logUp {
    background: #fff;
    width: 450px;
    margin: 250px auto 0;
    padding: 20px;
    position: relative;
    border: 1px solid #e5e5e5;
}
#logUp .border-top {
    border-top: 2px solid #323333;
}
#logUp .hidden,
#sigSuc.hidden,
#logUp.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
#logUp .sign {
    font-size: 12px;
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
    padding: 10px 0 0 0;
}
#logUp .col-5 {
    height: 100%;
    padding: 0 20px 0 0;
}
#logUp .col-5:nth-child(2){
    padding: 0 0 0 20px;
}
#logUp h1 {
    margin-top: 0;
}
#logUp label {
    padding: 0;
    margin-bottom: 5px;
    display: block;
}
#logUp input {
    float: right;
    margin-bottom: 10px;
    width: 100%;
}
#logUp input[type='submit'] {
    margin-bottom: 0;
}

/*signup sucess styles*/
#sigSuc {
    background: #fff;
    width: 400px;
    margin: 250px auto 0;
    padding: 20px;
    position: relative;
}
#sigSuc h1 {
    margin: 0 0 10px;
}
#sigSuc a {
    float: none;
    display: inline-block;
}

/*claim styles*/
#claim {
    margin: 20px 40px;
    padding: 20px;
    background: #fff;
    border: 1px solid #e5e5e5;
}
#claim h1 {
    display: inline-block;
}
#claim form {
    text-align: left;
}
#claim input,
#claim textarea {
    width: 100%;
    margin-bottom: 10px;

}
#claim input[type='submit'] {
    margin-bottom: 0;
}
#claim textarea {
    min-height: 100px;
    max-width: 100%;
    resize: vertical;
}
#claim label {
    display: block;
    margin: 0 0 5px;
}
#claim input[type='submit'] {
    padding: 5px 10px;
}
#claim td.commentTd {
    border: none;
    border-right: 1px solid #2e2e2e;
    padding: 0;
}

#claim td.commentTd th,
#claim td.commentTd td {
    border-right: none;
}

#claim .tagFilter {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    background: #0a85d7;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 10px;
}
#claim .tagFilter.active {
    background: #25c018!important;
}
#claim table {
    border-collapse: collapse;
    line-height: 14px;
}

#claim table td,
#claim table th{
    border: 1px solid #2e2e2e;
    padding: 5px 10px;
}
#claim table thead {
    background: #2e2e2e;
    color: #fff;
}
/*claims modal window */
body.modal-open {
    width: 100%;
    height: 100%;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
}
#modal .modal-content {
    color: #000000;
    position: absolute;
    top: 0;
    left: 50%;
    width: 600px;
    margin: 200px 0 0 -300px;
    padding: 20px;
    background: #fff;
}
#modal .modal-content.spinning{
    margin: 0;
    padding: 0;
    top: 50%;
    margin-top: -64px;
    left: 0;
    width: 100%;
    position: fixed;
    background: none;
    z-index: 100;
}
.modal-backdrop.spinning {
    z-index: 101;
}
h3.modal-title {
    font-size: 20px;
    line-height: 20px;
}
.comment-table {
    margin-bottom: 10px;
}
.add-comment-title {
    font-size: 16px;
    line-height: 16px;
}
.close-btn-primary {
    color: #fff;
    background: #0a85d7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #0a72cc;
    text-align: center;
    padding: 10px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
}
.close-btn-primary.btn-warning {
    background: #cc324b;
    border: none;
}
.close-btn-primary.btn-decline {
    background: #c2b57c;
    border: none;
}
#acceptClaimModal, #declineClaimModal {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    vertical-align: middle;
}
#acceptClaimModal {
    background: url(../img/accept_ico.png);
}
#declineClaimModal {
    background: url(../img/cancel_ico.png);
}
.claim-comments-container {
    background: #f3f9fd;
}
.claim-comments-container.smaller {
    border: 1px solid #808080;
    border-top: none;
}
.claim-comments-wrapper {
    border: 1px solid #e6e6e6;
    margin: 20px 0 40px;
    padding: 10px;
    background: rgba(243,249,253,1);
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}
.claim-comments-wrapper:last-child {
    margin: 20px 0 0;
}

.claim-comments-wrapper.smaller {
    margin: 0;
    border: none;
    border-top: 1px solid #808080;
    padding: 5px;
    font-size: 14px;
    line-height: 14px;
}
.claim-comments-wrapper.smaller.last {
    background: rgba(243,249,253,1);
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}
.claim-comments-wrapper.smaller.last.last-added {
    background: rgba(37,192,24,0.2);
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
}
.claim-title {
    font-size: 20px;
    line-height: 20px;
    font-family: GothamProBold;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 5px;
}
.claim-title.smaller {
    border-bottom: none;
    font-size: 14px;
    line-height: 14px;
    padding-bottom: 0;
    padding-top: 5px;
    font-family: GothamProRegular, sans-serif;
}
.claim-note {
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6;
}
.claim-comments-list {
    padding-left: 100px;
}
.claim-comments-heading {
    font-family: GothamProBold;
    font-size: 14px;
    line-height: 14px;
    padding: 10px 0 8px;
    border-bottom: 1px solid #e6e6e6;
}
.claim-comment-author {
    padding: 10px 0 2px;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    color: #0a72cc;
}
.claim-author {
    font-family: GothamProItalic;
    font-size: 12px;
    line-height: 12px;
    color: #0a72cc;
}
.claim-comment-content {
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6;
}
.claim-add-comment {
    padding-left: 100px;
    margin: 20px 0 0;
}
.claim-comment-input {
    margin-bottom: 7px!important;
}
.claim-add-new-comment-button,
.claim-resolve {
    width: 200px!important;
    float: right;
    margin-bottom: 10px!important;
}
.claim-add-new-comment-button.smaller {
    margin-top: 10px;
    margin-bottom: 0!important;
}
.claim-resolve {
    margin-bottom: 0!important;
    background: #25c018!important;
    border: none!important;
}
.claim-resolve.claim-accept {
    width: 120px!important;
}
.claim-resolve.claim-decline {
    width: 120px!important;
    background: #f2654d!important;
    margin-left: 10px!important;
}
.claim-tag {
    font-size: 12px;
    line-height: 12px;
    background: #f3a90a;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}
.claim-author {
    margin-bottom: 10px;
}
.top-div {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 5px;
}
.top-div .claim-author {
    line-height: 20px;
}
.top-div .claim-tag,
.top-div .claim-author,
.top-div .claim-add-comment {
    display: inline-block;
    margin-bottom: 0;
}
.top-div .claim-add-comment {
    margin-top: 0;
    padding-left: 0;
    float: right;
    position: relative;
}
.top-div .claim-add-comment.smaller .claim-status {
    display: inline-block;
}
.top-div .claim-checkbox {
    border-left: 1px solid #e6e6e6;
    padding-left: 5px;
    display: inline-block;
    margin-top: 4px;
}
.top-div .claim-checkbox input[type='checkbox'] {
    height: auto!important;
}
.top-div .claim-checkbox input[type='checkbox'][disabled='disabled'] {
    background: #333333;
}
.claim-status {
    margin-top: 4px;
    margin-bottom: 3px;
    display: inline-block;
    padding: 0 5px 0 7px;
    border-left: 1px solid #e6e6e6;
}
.claim-info {
    display: inline-block;
    margin-top: 4px;
    background: url(../img/information-icon.png) center center no-repeat;
    width: 13px;
    cursor: pointer;
    margin-right: 4px;
}
.comment-tooltip {
    position: absolute;
    width: 300px;
    right: -5px;
    bottom: 26px;
    background: #fff;
    border: 1px solid #eee;
    padding: 5px;
    display: none;
}
.author-in {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
}

