/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .img-centered {
        max-width: 170px;
    }
    .logo-bordered {
        border-right: 1px solid #000;
    }
}
html{

}
body{
    background: #1f253d;
    color: #666;
}
#nav {
    border-bottom: 1px solid #000;
    background: #fcb150;
}
#nav .col-lg-2 {
    height: 100%;
}
#nav #img-logo {
    padding-top: 10px;
    padding-bottom: 10px;
}
.img-centered {
    display: inline-block;
    text-align: center;
}
a.nav-a {
    color: #fff;
    text-decoration: none;
}
a.nav-a:hover {
    color: #f00;
    text-decoration: none;
    cursor: pointer;
}

