<div id="claim" class="rounded text-center">
    <div class="main-head" ng-if="currentClaimType == 'Purchase'">
        <h1 class="text-left">Purchases</h1>
        <div class="tooltip-sign"></div>
        <div class="tooltip-content rounded">Something, you need to be bought.</div>
    </div>
    <div class="main-head" ng-if="currentClaimType == 'Proposition'">
        <h1 class="text-left">Propositions / Claims</h1>
        <div class="tooltip-sign"></div>
        <div class="tooltip-content rounded">All your wishes, comments and complaints.</div>
    </div>
    <div class="main-head" ng-if="currentClaimType == 'Chemical'">
        <h1 class="text-left">Stuff</h1>
    </div>
    <div class="main-head" ng-if="currentClaimType == 'Discussion'">
        <h1 class="text-left">Discussions</h1>
    </div>

    <!--first 3 tabs-->
    <section ng-if="currentClaimType!='Discussion'">
        <!--debug button-->
        <button ng-if="false" ng-click="deleteUser('qqwertqqq@ukr.net')">asdasda</button>
        <!--debug button-->
        <form method="post" ng-submit="addClaim()">
            <div class="col-3 no-padding-left" ng-if="currentClaimType != 'Chemical'">
                <label for="claimTitle" class="">Claim Title:</label>
                <input class="rounded" ng-model="currentClaim.claimTitle" type="text" name="claimTitle" id="claimTitle" required/>
            </div>
            <div class="col-5 no-padding-left" ng-if="currentClaimType == 'Chemical'">
                <label for="claimTitle" class="">Claim Title:</label>
                <input class="rounded" ng-model="currentClaim.claimTitle" type="text" name="claimTitle" id="claimTitle" required/>
            </div>
            <div class="col-2" ng-if="tags.length > 0">
                <label for="claimTag">Add a Tag:</label>
                <select class="full-select" name="claimTag" id="claimTag" ng-model="currentClaim.claimTag" ng-options="tag for tag in tags"></select>
            </div>
            <div class="col-1">
                <label>&nbsp</label>
                <input class="rounded add-claim-button" type="submit" value="ADD"/>
            </div>
            <div class="col-2" ng-if="currentClaimType == 'Purchase'">
                 <label>&nbsp</label>
                 <label class="anonymous-label"><input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="currentClaim.anonymous" class="checkbox claimbox anonymous-checkbox"> Add anonymously</label>
            </div>
            <div class="clr"></div>
        </form>
        <div class="line"></div>
        <div class="col-5 no-padding-left text-left">
            <div id="tagsFilter" ng-if="tags.length > 0">
                <div class="tagFilter rounded" ng-click="filterByTag(tag)" ng-class="{'active': activeTag == tag}" ng-repeat="tag in tags" ng-if="tagsAvailability[tag]">{{tag}}</div>
                <div class="tagFilter rounded active" ng-class="{'active': activeTag == 'All'}" ng-click="filterByTag('All')" ng-if="claimList.hasOpen">All</div>
            </div>
            <h2>Pending:</h2>
            <div class="claim-comments-container smaller rounded js-class">
                <div class="claim-comments-wrapper smaller" ng-if="!claimList.hasOpen">
                    There are no pending claims.
                </div>
                <div class="claim-comments-wrapper open smaller" ng-repeat="claim in claimList | orderBy: '-created'" ng-class="{'last': $first, 'last-added': classRemoved}" ng-if="claim.status == 'open' && (claim.claimTag == activeTag || activeTag == 'All')">
                    <div class="col-10 no-padding-left no-padding-right">
                        <div class="col-10 no-padding-left no-padding-right top-div">
                            <div class="claim-author"><span ng-if="!claim.anonymous">{{claim.fullName}}</span><span ng-if="claim.anonymous">Anonymous</span></div><div class="author-in" ng-if="tags.length > 0">&nbsp;in&nbsp;</div><div class="claim-tag rounded" ng-if="tags.length > 0">{{claim.claimTag}}</div>
                            <div class="claim-add-comment smaller" ng-if="$parent.user.userGroup == 'HR'">
                                <div id="acceptClaimModal" ng-click="openModal(claim, 'accept')"></div>
                                <div id="declineClaimModal" ng-click="openModal(claim, 'decline')"></div>
                                <div class="clr"></div>
                            </div>
                            <div class="clr"></div>
                        </div>
                        <div class="claim-title smaller col-10 no-padding-left no-padding-right" ng-class="{'no-padding-bottom': $parent.user.userGroup != 'HR'}">{{claim.claimTitle}}</div>
                        <div class="clr"></div>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
        </div>
        <div class="col-5 no-padding-right text-left">
            <h2>Archive:</h2>
            <div class="claim-comments-container smaller rounded">
                <div class="claim-comments-wrapper smaller" ng-if="claimList.clean">
                    There are no archived claims.
                </div>
                <div class="claim-comments-wrapper smaller" ng-repeat="claim in claimList | orderBy: 'status'" ng-if="claim.status != 'open'" data-tag="{{claim.claimTag}}">
                    <div class="col-10 no-padding-left no-padding-right">
                        <div class="col-10 no-padding-left no-padding-right top-div">
                            <div class="claim-author"><span ng-if="!claim.anonymous">{{claim.fullName}}</span><span ng-if="claim.anonymous">Anonymous</span></div><div class="author-in" ng-if="tags.length > 0">&nbsp;in&nbsp;</div><div class="claim-tag rounded" ng-if="tags.length > 0">{{claim.claimTag}}</div>
                            <div class="claim-add-comment smaller">
                                <div class="comment-tooltip rounded" data-id="{{claim._id}}" ng-if="claim.claimComment">{{claim.claimComment}}</div>
                                <div class="claim-info" ng-mouseover="showTooltip(claim._id)" ng-mouseleave="hideTooltip(claim._id)" ng-if="claim.claimComment">&nbsp;</div>
                                <div class="claim-status">{{claim.status}}</div>
                                <div class="claim-checkbox" ng-if="$parent.user.userGroup == 'HR' && claim.status != 'resolved'">
                                    <input type="checkbox" value="{{claim._id}}" ng-true-value="true" ng-false-value="false" ng-model="claim.checked" class="checkbox claimbox">
                                </div>
                                <div class="clr"></div>
                            </div>
                            <div class="clr"></div>
                        </div>
                        <div class="claim-title smaller col-10 no-padding-left no-padding-right" ng-class="{'no-padding-bottom': $parent.user.userGroup != 'HR'}">{{claim.claimTitle}}</div>
                        <div class="clr"></div>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
            <input ng-disabled="checkCheckedCheckboxes()" class="rounded claim-add-new-comment-button smaller" type="submit" value="Send Selected Claims" ng-click="sendClaims()" ng-if="user.userGroup == 'HR' && claimList.hasUnresolved"/>
        </div>
        <div class="clr"></div>
    </section>

    <!--discussions tab-->
    <section ng-if="currentClaimType =='Discussion'">
        <form method="post" ng-submit="addClaim(true)">
            <div class="col-3 no-padding-left">
                <label for="claimTitle" class="">Claim Title:</label>
                <input class="rounded" ng-model="currentClaim.claimTitle" type="text" name="claimTitle" id="claimTitle" required/>
            </div>
            <div class="col-2">
                <label for="claimTag">Add a Recipient:</label>
                <div required id="onlyMulti" class="rounded multiselect" isteven-multi-select input-model="hrs" button-label="firstName lastName" item-label="firstName lastName" tick-property="ticked" output-model="currentClaim.claimRecipient" helper-elements=""></div>
            </div>
            <div class="clr"></div>
            <div class="col-5 no-padding-left">
                <label>Add a Comment:</label>
                <textarea name="claimComment" required id="claimComment" ng-model="currentClaim.claimComment"></textarea>
            </div>
            <div class="clr"></div>
            <div class="col-4">&nbsp;</div>
            <div class="col-1">
                <input class="rounded" type="submit" value="ADD"/>
            </div>
            <div class="clr"></div>
        </form>
        <div class="line"></div>
        <div class="col-10 no-padding-left  no-padding-right text-left">
            <div class="js-class">
                <div class="claim-comments-wrapper rounded" ng-if="!claimList.hasOpen">
                    There are no open discussions.
                </div>
                <div id="{{claim._id}}" class="claim-comments-wrapper rounded" ng-repeat="claim in claimList | orderBy: '-created'" ng-if="claim.status == 'open'">
                    <div class="claim-title">{{claim.claimTitle}}
                        <div class="claim-receivers">assigned to: <span ng-repeat="recipient in claim.claimRecipient">{{recipient.firstName}} {{recipient.lastName}} | </span></div>
                    </div>
                    <div class="claim-note">{{claim.claimComment}}</div>
                    <div class="claim-comments-list" ng-if="claim.claimComments.length > 0">
                        <div class="claim-comments-heading">Comments:</div>
                        <div class="claim-comments-container">
                            <div class="claim-comment" ng-repeat="comment in claim.claimComments">
                                <div class="claim-comment-author"><span class="claim-author">{{comment.author.firstName + " " + comment.author.lastName}}</span> said:</div>
                                <div class="claim-comment-content">{{comment.content}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="claim-add-comment">
                        <textarea class="claim-comment-input" data-id="{{claim._id}}"></textarea>
                        <input class="rounded claim-add-new-comment-button" type="submit" value="ADD NEW COMMENT" ng-click="addComment(claim)" data-id="{{claim._id}}"/>
                        <div class="clr"></div>
                        <input class="rounded claim-resolve" type="submit" value="RESOLVE & REMOVE" ng-click="resolveClaim(claim, 'resolved')" data-id="{{claim._id}}"/>
                        <div class="clr"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr"></div>
    </section>

<!--modal-->
    <div id="modal" ng-if="modalOpened">
        <div class="modal-backdrop" ng-click="closeModal()"></div>
        <div class="modal-content rounded">
            <div class="modal-header">
                <h3 class="modal-title">Review and Comment:</h3>
            </div>
            <div class="modal-body">
                <table cellspacing="0" class="comment-table">
                    <thead>
                    <tr>
                        <th>Title:</th>
                        <th ng-if="tags.length > 0">Tag:</th>
                        <th>Author:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td width="70%">
                            {{reviewingClaim.claimTitle}}
                        </td>
                        <td ng-if="tags.length > 0" width="18%">
                            {{reviewingClaim.claimTag}}
                        </td>
                        <td width="12%">
                            <span ng-if="!reviewingClaim.anonymous">{{reviewingClaim.fullName}}</span>
                            <span ng-if="reviewingClaim.anonymous">Anonymous</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <label for="reviewingClaimComment" class="add-comment-title">Add a Comment:</label>
                <input id="reviewingClaimComment" ng-model="reviewingClaim.claimComment" type="text"/>
            </div>
            <div class="modal-footer">
                <button class="close-btn-primary" ng-if="modalType == 'accept'" type="button" ng-click="closeModal('accept')">Accept Claim</button>
                <button class="close-btn-primary btn-decline" ng-if="modalType == 'decline'" type="button" ng-click="closeModal('decline')">Decline Claim</button>
                <button class="close-btn-primary btn-warning" type="button" ng-click="closeModal()">Cancel</button>
            </div>
        </div>
    </div>
    
    <!--spinner modal-->
    <div id="modal" ng-if="processing">
        <div class="modal-backdrop spinning"></div>
        <div class="modal-content spinning">
            <div class="ajax-spinner">
                <img src="img/spinner.GIF" alt="spinner"/>
            </div>
        </div>
    </div>
</div>