<div class="col-1">
    <img id="img-logo" src="../img/core-logo.png" alt="CoreValue"/>
</div>
<div class="col-9">
    <div class="col-2 text-center nav-div">
        <a ui-sref=".purchases" class="nav-a" ng-class="{'active-nav': currentClaimType == 'Purchase'}">Purchases</a>
    </div>
    <div class="col-2 text-center nav-div">
        <a ui-sref=".propositions" class="nav-a" ng-class="{'active-nav': currentClaimType == 'Proposition'}">Propositions</a>
    </div>
    <div class="col-2 text-center nav-div">
        <a ng-if="user.userGroup == 'HR'" ui-sref=".chemicals" class="nav-a" ng-class="{'active-nav': currentClaimType == 'Chemical'}">Chemicals</a>
    </div>
    <div class="col-2 text-center nav-div">
        <a ng-if="user.userGroup == 'HR'" ui-sref=".discussions" class="nav-a" ng-class="{'active-nav': currentClaimType == 'Discussion'}">Discussions</a>
    </div>
    <div class="col-1"></div>
    <div class="col-1 text-right">
        <div class="nav-a logout">{{user.firstName}}</div>
        <ul class="user-ul">
            <li><a class="nav-a" ng-click="changePassPage()">Change Pass</a></li>
            <li><a class="nav-a" ng-click="doLogout()">Log Out</a></li>
        </ul>
    </div>
    <div class="clr"></div>
</div>
<div class="clr"></div>